@import url("variables.css");

.trackerContainer {
  position: absolute;
  width: calc(100vw - 2 * var(--sideBarWidth) - 2 * var(--subSectionPadding) - 10vw);
  right: calc(var(--sideBarWidth) + 5vw);
  height: calc(var(--topBarHeight) - 2 * var(--subSectionPadding));
  margin-top: var(--subSectionPadding);
  margin-left: var(--subSectionPadding);
  float: left;
}